table {
    font-size: 1.5rem;
    align-items: center;
    margin: 0 auto;
}

.category {
    align-content: center;
    text-align: center;
    padding: 10px 0;
}

table {
    color: #333;
    width: 300px;
}

table td {
    padding: 3.5px;
}

.name {
    text-align: left;
}

.rank {
    text-align: right;
}