.mailAddress {
    text-align: center;
    font-size: 2rem;
    padding: 10px;
}

.sns {
    display: block;
    text-align: center;
    padding: 10px;
}

.sns > span {
    display: inline-block;
    margin: 10px 40px;
    font-size: 2rem;
    color: #333333;
}