.detailItem {
    font-family: 'Thasadith', sans-serif;
    font-size: 1.2rem;
    line-height: 2rem;
    background-color: #453E3E;
    width: 200px;
    padding: 0 10px;
    color: #fff;
    margin: 0em;
}

.imgConatiner {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 400px;
}

.topImage {
    width: 100%;
    height: auto;
}

.mainText {
    margin: 10px 0;
}