.proflileText, .icon {
    display: inline-block;
}

.proflileText {
    align-items: center;
    font-size: 1.2rem;
}

.icon {
    margin: 0 5%;
    vertical-align: top;
}

.icon > img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}