.fullSizeContainer {
    background-color: #fff;
}

.contentsContainer {
    margin: 0 auto;
    width: 65vw;
    background-color: transparent;
}

.mobileContainer {
    margin: 0 auto;
    width: 90vw;
    background-color: transparent;
}